body{
  background-color:lightgray;
}

p{
  text-indent: 25px;
}
h1{
  text-align: center;
  padding:10px 0;
}

.title-header{
  background-color: #009faf;
}

footer h4{
  text-align: center;
}
.wrapper{
  width: 85%;
  margin: 0 auto;
}

/* ARTICLE ONE*/

#article-one{
  background-color: #88ffff;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:10px 0;
}

#Article-one h2{
  text-align: center;
}
#article-one p{
  line-height: 1.3em;
  color: green;
}
#header-one{
  background-color:#4dd0e1;
  border-radius: 5px;
}

/* ARTICLE TWO*/

#article-two{
  background-color: lightgreen;
  border-radius: 15px;
  font-family: monospace;
  padding:30px 35px;
}

#Article-two h2{
  text-align: center;
}
#article-two p{
  line-height: 1.8em;
  color: blue;
}
#header-two{
  background-color:violet;
  border-radius: 15px;
}
/* ARTICLE THREE*/

#article-three{
  background-color: lightpink;
  border-radius: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:12px 20px;
}

#Article-three h2{
  text-align: center;
}
#article-three p{
  line-height: 2.6em;
  color: purple;
}
#header-three{
  background-color:lightsalmon;
  border-radius: 30px;
}

/* ARTICLE FOUR*/

#article-four{
  background-color:darkgrey;
  border-radius: 65px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding:40px 135px;
}

#Article-four h2{
  text-align: center;
}
#article-four p{
  line-height: 2.2em;
  color: goldenrod;
}
#header-four{
  background-color:sandybrown;
  border-radius: 10px;
}

/* ARTICLE FIVE*/

#article-five{
  background-color: red;
  border-radius: 135px;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  padding:230px 70px;
}

#Article-five h2{
  text-align: center;
}
#article-five p{
  line-height: 3em;
  color: olivedrab;
}
#header-five{
  background-color:orangered;
  border-radius: 105px;
}